:root {
    --background-precio:rgba(234, 246, 213, 0.7);/* fondo buton precio */
    --color-secundary: #8C9D6F;
    --price-color: #424837;
    --secondary-color: #ffd700; /* Dorado */
    --background-color: #f8f9fa; /* Fondo claro */
    --text-color: #6D7364; /* Texto oscuro */
    --header-footer-background: #FAFBF9; /* Fondo del header/footer */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    color: var(--text-color) !important;
}

header {
    background-color: var(--header-footer-background) !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--header-footer-background) !important; 
}
footer a {
    color: var(--text-color) !important;
}
footer a img {
    max-height: 35px;
}

.navbar .nav-link {
    color: var(--text-color) !important;
}

.nav-link.active {
    font-weight: bold; 
    border-bottom: 2px solid var(--secondary-color);
}

.nav-link:hover{
    color: var(--secondary-color) !important;
}

.nav-link img{
    max-height: 35px;
}

.logo img{
    max-height: 20px;
}

.search{
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.search:hover{
    color: var(--secondary-color) !important;  
}

.form-control{
    color: var(--text-color) !important;
}

.btn-transparent {
    background-color: var(--background-precio) !important;
    color: var(--text-color) !important;
    border: none !important;
}

.btn-transparent:hover {
    color: var(--secondary-color) !important; /* dorado*/
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.text-color{
    border-color: var(--text-color) !important;
    color: var(--text-color) !important;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--text-color) !important;
}

.carrito {
    position: relative;
    padding-right: 11px;
    & b{
        position: absolute;
        right: 0;
        bottom: -7px;
        background: red;
        border-radius: 8.5px;
        height: 17px;
        font-size: 12px;
        min-width: 17px;
        display: grid;
        place-content: center;
        color: white;
        padding: 0 0.4em;
    }
}
.docx-preview {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    max-height: 300px;
    overflow-y: auto;
}
.pdf-preview {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.pedido-detalle {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    &.completed{
        text-decoration: line-through;
        color: #9b9b6d;
    }
}